###################################
#             Files               #
###################################

selection_film.xlsx
new_movies.xlsx
scrap_it.csv

###################################
#          Environement           #
###################################

.env