###################################
#             Files               #
###################################

selection_film.xlsx
new_movies.xlsx
scrap_it.csv
movie_scraper_2026_draft.ipynb

###################################
#          Environement           #
###################################

.env